Repository jordanbtucker/gdq-ical: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

fix: ensure OUT_FILE dir exists
  lib/app.js
Due: eslint, prettier -c

feat: allow setting schedule page via config
  .env.example
  lib/app.js
  lib/config.js
Due: eslint, prettier -c

docs: add usage instructions
  README.md
Due: prettier -c

docs: update CHANGELOG
  CHANGELOG.md
Due: prettier -c

test: remove tests
  package.json
  test/app.js
Due: eslint, prettier -c

1.0.0
  package-lock.json
  package.json
Due: prettier -c

test: remove test dependencies
  package-lock.json
  package.json
Due: prettier -c

build: update dependencies
  package-lock.json
  package.json
Due: prettier -c

fix!: use tracker api
  .commitlintrc.json
  .editorconfig
  .env.example
  .eslintignore
  .eslintrc.json
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .travis.yml
  .vscode/launch.json
  .vscode/settings.json
  CHANGELOG.md
  LICENSE
  README.md
  config.ts
  deno.jsonc
  deno.lock
  deps.ts
  lib/app.js
  lib/config.js
  lib/index.js
  main.ts
  package-lock.json
  package.json
Due: eslint, prettier -c

docs: fix unreleased link
  CHANGELOG.md
Due: prettier -c

v2.0.0
  CHANGELOG.md
Due: prettier -c

feat: include category in event title
  CHANGELOG.md
  main.ts
Due: prettier -c

v2.1.0
  CHANGELOG.md
Due: prettier -c

feat: include console
  CHANGELOG.md
  main.ts
Due: prettier -c

v2.2.0
  CHANGELOG.md
Due: prettier -c

build: update dotenv dep
  config.ts
  deno.lock
Due: none

feat: add video url to location
  CHANGELOG.md
  main.ts
Due: prettier -c

v2.3.0
  CHANGELOG.md
Due: prettier -c

fix: move link to description
  CHANGELOG.md
  main.ts
Due: prettier -c

v2.3.1
  CHANGELOG.md
Due: prettier -c

fix: use tracker subdomain
  main.ts
Due: none

Path conditions:
  eslint: any of: **/*.js
  prettier -c: any of: **/*.{js,json,md,yml}
